*, body, html{
    margin: 0;
    padding: 0;
    font-family: Calibri;
}

body{
    background-color: #edeef0;
}

#wrapper{
    width: 800px;
    margin: 10px auto;
}

.block{
    border: 1px solid #999;
    background-color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 10px 0;
}

.block-title{
    font-size: 20px;
    margin: 0 10px 10px 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #999;
}



#main-menu{
    list-style: none;
}

#main-menu>li{
    display: inline-block;
    cursor: pointer;

}

#main-menu>li>a{
    display: inline-block;
    color: #000;
    font-weight: bold;
    font-size: 20px;

    text-decoration: none;
    
    padding: 10px 20px 10px 20px;
}

#main-menu>li:hover{
    color: #fff;
    background-color: #ee872d;
}