*, body, html{
    margin: 0;
    padding: 0;
    font-family: Calibri;
}

body{
    background-color: #edeef0;
}

#wrapper{
    width: 800px;
    margin: 10px auto;
}

.block{
    border: 1px solid #999;
    background-color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 10px 0;
}

.block-title{
    font-size: 20px;
    margin: 0 10px 10px 10px;
    padding: 10px;
    border-bottom: 1px solid #999;
}


.block-title>a{
    text-decoration: none;
    color: #ee872d;
    cursor: pointer;
}

.block-title>a:hover{
    text-decoration: underline !important;
}


.block-content{
    margin: 0 10px 10px 10px;
}



#errors{
    color: #f90000;
    font-size: 18px;
}




































#main-menu{
    list-style: none;
}

#main-menu>li{
    display: inline-block;
    cursor: pointer;
}

#main-menu>li>a{
    display: inline-block;
    color: #000;
    font-weight: bold;
    font-size: 20px;

    text-decoration: none;
    
    padding: 10px 20px 10px 20px;
}

#main-menu>li:hover{
    color: #fff;
    background-color: #ee872d;
}


.menu{
    list-style: none;
}

.menu>li{
    display: inline-block;
    cursor: pointer;
}

.menu>li>a{
    display: inline-block;
    color: #000;
    font-size: 20px;

    text-decoration: none;

    padding: 10px 20px 10px 20px;
}

.menu>li:hover{
    color: #fff;
    background-color: #5fee4f;
}
































.input-text-std{
    font-size: 16px;
    padding-left: 17px;
    padding-right: 17px;
    background-color: #f6f6f6;
    color: #454545;

    height: 32px;
    width: 214px;

    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;

    border: 1px solid #bbb;
}


.input-text-std:focus, .input-text-std:hover{
    color: #000;
    background-color: #EDEDED;
}



.input-textarea-std{
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 1px solid #bbb;


    font-size: 16px;
    padding: 3px 17px;
    background-color: #f6f6f6;
    color: #454545;

    resize: none;
    width: 100%;

    max-height: 130px;


    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.input-textarea-std:focus, .input-textarea-std:hover{
    color: #000;
    background-color: #EDEDED;
}




.input-text-std:focus{
    outline: 1px solid #0073ff;
}

.input-textarea-std:focus{
    outline: 1px solid #0073ff;
}






.input-file-upload{
    display: inline-block;
}
.input-file{
    display:none;
}
.input-file-upload label{
    cursor:pointer;
    background:#0073ff;
    border-radius:3px;
    padding: 7px 10px 8px 10px;
    color:#fff;
    text-align: center;
}
.input-file-upload label:hover{
    background: #005bb1;
}
.input-file-name {
    display: inline-block;
    color: #000;
    margin-left: 8px;
}

.input-file-disabled label{
    background-color: #aaa !important;
}




.table-full{
    width: 100%;
}


.table-full-left-col, .table-full-right-col{
    width: 50%;
}

.table-full-row td{
    padding-top: 10px;
}
